<div class="entity-list-item">
    <div class="item-icon">
        <img alt="icon" height="20" src="public/img/mindmap-white.svg">
    </div>
    <div class="item-content-secondary">
        <div class="content-text-primary">{{ timeago }}</div>
        <div class="content-text-secondary">{{ date }}</div>
    </div>
    <div class="item-content-primary">
        <div class="content-text-primary">{{ name }}</div>
        <div class="content-text-secondary">{{ available }}</div>
    </div>
    <div class="item-content-expanded">
        <button class="btn btn-primary btn-open">Open</button>
        <button class="btn btn-default btn-download">Download</button>
        <button class="btn btn-default btn-delete">Delete</button>
    </div>
</div>