body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.body-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 200px;
}

.height100 {
    height: 100%;
    overflow-y: auto;
}

.bg-triangles {
    background-image: url('/public/img/trianglify.svg');
    background-size: cover;
    z-index: -1;
}

.bg-overlay-color {
    background: rgb(255, 0, 0);
    opacity: 0.5;
    z-index: -1;
    animation: cycleColors 60s linear 1s infinite;
}

.padded-top {
    padding-top: 20px;
}

@keyframes cycleColors {
    0% {
        background: rgb(255, 0, 0);
    }

    33% {
        background: rgb(0, 255, 0);
    }

    66% {
        background: rgb(0, 0, 255);
    }
}

.panel {}

.nopadding {
    padding: 0;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.inner-content {
    max-width: 900px;
    height: calc(100% - 80px);
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    .inner-content {
        margin: 0;
        height: 100%;
    }
}

#detail-items [detail-item-index] {
    display: none;
}

#detail-items [detail-item-index=0] {
    display: block;
}

.detail-iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

.entity-list .entity-list-item {
    max-width: none;
}

.box {
    font-size: 1.25rem;
    /* 20 */
    background-color: #c8dadf;
    position: relative;
    padding: 100px 20px;
    text-align: center;
}

.box.has-advanced-upload {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;

    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
}

.box.is-dragover {
    outline-offset: -20px;
    outline-color: #c8dadf;
    background-color: #fff;
}

.box__dragndrop,
.box__icon {
    display: none;
}

.box.has-advanced-upload .box__dragndrop {
    display: inline;
}

.box.has-advanced-upload .box__icon {
    width: 100%;
    height: 80px;
    fill: #92b0b3;
    display: block;
    margin-bottom: 40px;
}

.box.is-uploading .box__input,
.box.is-success .box__input,
.box.is-error .box__input {
    visibility: hidden;
}

.box__uploading,
.box__success,
.box__error {
    display: none;
}

.box.is-uploading .box__uploading,
.box.is-success .box__success,
.box.is-error .box__error {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;

    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.box__uploading {
    font-style: italic;
}

.box__success {
    -webkit-animation: appear-from-inside .25s ease-in-out;
    animation: appear-from-inside .25s ease-in-out;
}

@-webkit-keyframes appear-from-inside {
    from {
        -webkit-transform: translateY(-50%) scale(0);
    }

    75% {
        -webkit-transform: translateY(-50%) scale(1.1);
    }

    to {
        -webkit-transform: translateY(-50%) scale(1);
    }
}

@keyframes appear-from-inside {
    from {
        transform: translateY(-50%) scale(0);
    }

    75% {
        transform: translateY(-50%) scale(1.1);
    }

    to {
        transform: translateY(-50%) scale(1);
    }
}

.box__restart {
    font-weight: 700;
}

.box__restart:focus,
.box__restart:hover {
    color: #39bfd3;
}

.js .box__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.js .box__file+label {
    max-width: 80%;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}

.js .box__file+label:hover strong,
.box__file:focus+label strong,
.box__file.has-focus+label strong {
    color: #39bfd3;
}

.js .box__file:focus+label,
.js .box__file.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.js .box__file+label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.no-js .box__file+label {
    display: none;
}

.no-js .box__button {
    display: block;
}

.box__button {
    font-weight: 700;
    color: #e5edf1;
    background-color: #39bfd3;
    display: none;
    padding: 8px 16px;
    margin: 40px auto 0;
}

.box__button:hover,
.box__button:focus {
    background-color: #0f3c4b;
}