@import './color-pick.css';
@import './mmelems-base.css';
@import './mmwindow-base.css';

html {
}

#field {
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#menubar #choose-color-theme {
    position: relative;
    overflow: visible;
}


#menubar {
    height: 100vh;
    width: 50px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 60px;
    z-index: 10;
}

#menubar button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    margin: 2px 5px;
    padding: 0;
    z-index: 10;
}

#menubar #choose-color-theme {
    overflow: hidden;
    border: 1px solid #ccc;
}

#menubar #choose-color-theme:hover {
    overflow: visible;
}

#choose-color-theme-options {
    top: 0;
    height: 60px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.01);
}

#menubar #choose-color-theme button.option {
    margin: 0;
    position: absolute;
    top: 0;
    border: 1px solid #ccc;
}

#menubar #choose-color-theme button.option:hover {
    opacity: .5;
}

#wrapper h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: dimgrey;
}


#fullscreen-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100000;

    background: url('../img/loader.svg') rgba(0, 0, 0, .8) no-repeat center center;
    background-size: 200px 200px;
}

#mouses .mouse-pos {
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

#mouses .mouse-pos:nth-child(1) {
    background: #f00;
}

#mouses .mouse-pos:nth-child(2) {
    background: #0f0;
}

#mouses .mouse-pos:nth-child(3) {
    background: #00f;
}

#mouses .mouse-pos:nth-child(4) {
    background: #ff0;
}

#mouses .mouse-pos:nth-child(5) {
    background: #0ff;
}


.btn1 {
    background-color: #44c767;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
}

.btn1:hover {
    background-color: #5cbf2a;
    opacity: .7;
}

.btn1:active {
    position: relative;
    top: 1px;
}

#save-mm {
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 4px 8px;
}

#svg_wrapper {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100vw; */
    /* height: 100vh; */
    overflow: visible;
}

#messages {
    position: absolute;
    right: 20px;
    top: 75px;
}

#messages .message {
    background-color: #44c767;
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    border: 1px solid #18ab29;
    display: block;
    float: right;
    clear: both;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 0px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #2f6627;
    height: 34px;
    animation: slowChatHide 400ms ease 6s forwards;
    overflow: hidden;
    margin-bottom: 5px;
}

@keyframes slowChatHide {
    from {}

    to {
        height: 0;
        border: none;
    }
}

#menubar button {
    background-image: none !important;
}

#menubar .glyph {
    font-size: 30px;
}

#spawn_elem_btn0 .glyph {
    font-size: 30px;
    vertical-align: middle;
    line-height: 20px;
}

#spawn_elem_btn1 .glyph {
    font-size: 22px;
    vertical-align: middle;
    line-height: 20px;
}

#spawn_elem_btn2 .glyph {
    font-size: 16px;
    vertical-align: middle;
    line-height: 20px;
}

#mainh
{
    position: absolute;
    margin: 0 auto;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #999;
    text-align: center;
    font-weight: bold;
    font-size: 2.4em;
    background-color: transparent;
    outline: none;
    border: none;
}