.mmelem 
{
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #00ff00;
    margin: 0px;
    padding: 20px 4px 4px 4px;
    box-shadow: 1px 1px 1px 3px #222
}
.mmelem .mmclose
{
    position: absolute;
    background-color: #00ff00;
    top: 2px;
    right: 2px;
    width: 16px;
    height: 16px;
    border: solid 2px black;
}

.mmmain
{
    z-index: 2;
    background-color: #00ff00;
}
.mmmain input
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.6em;
    width: 12em;

}
.mmheader
{
    z-index: 1;
}
.mmheader input
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}
.mmnote
{

}
.mmnote textarea
{
    background-color: black;
    color: #00ff00;

}

.mmelem .mm_title
{
    border: none;
    color: #00ff00;
    text-align: center;
    background-color: transparent;
    display: block;
    background-color: black;
}
.genline
{
    stroke:#00ff00;
    stroke-width:2;
    fill:none;
}
.pregenline
{
    stroke:#00ff00;
    stroke-width:2;
    fill:none;
}
.genline:hover
{
    stroke-width: 8!important;
    opacity: 0.5;
    cursor: crosshair;
}